*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
}
.announcemnt{
background-color: rgb(52, 52, 109);
padding: 12px;
text-align: center;
letter-spacing: 4px;
font-size: 15px;
font-weight: 700;
box-shadow: 0 0 6px rgb(52, 52, 109);
}
.announcemnt p{
color: white;
}
.announcemnt p span{
    background-color: #F4F7F6;
    padding: 5px;
    color: rgb(52, 52, 109);
    border-radius: 16px;
}

.navigation ol{
    display: block;
    text-align: center;
    border: 1px solid rgb(52, 52, 109);
    padding-bottom: 20px;
    box-shadow: 0 0 6px rgb(52, 52, 109);
}
.navigation ol li{
    list-style-type: none;
    display: inline-block;
    margin: auto;
    
   
    
    
}
.navigation ol li a{
    margin-top: 20px;
    display: block;
    text-decoration: none;
    border: 1px dotted rgb(52, 52, 109);
    padding: 16px;
}

.navigation ol li a:hover{
    color: white;
    background-color: rgb(52, 52, 109);
    transform: scale(1.1);
    transition: all ease .9s;
    padding: 15px;
    border-radius: 20px;
    margin-right: 6px;
    
}
.img-sec{
margin: 3rem 0;
max-width: 60%;
margin: auto;
padding: 35px 0;
}
.image img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 7px 1px black;
}
.image img:hover{
transform: scaleY(1.02);
transition: all ease  .8s;
}

.dec-sec{
    background-color: rgb(245, 245, 250);
    
}
.description{
    max-width: 60%;
    margin: auto;
    display: block;
    padding: 25px 0;
}
.description h1{
text-align: center;
padding-bottom: 8px;
border-bottom: 2px dashed black;
text-transform: uppercase;

}
.description p{
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
}